/*========================================

 共通設定

========================================*/

.wrapper {
  margin: 10px 20px;
}

h1 {
  margin-bottom: 0;
}

p {
  margin: 0;
}

table {
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

tr {
  border-bottom: 1px solid #ccc;
}

th, td {
  border: 1px solid #ccc;
  vertical-align: middle;
  padding: 5px 10px;
}

a {
  text-decoration: underline;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}


/*========================================

 フォーム設定

========================================*/


form input:focus:invalid {
  border: tomato 2px solid;
}

form textarea:focus:invalid {
  border: tomato 2px solid;
}

form input:invalid + .error .invalid {
  display: block;
}

form input:focus:invalid + .error .invalid {
  display: none;
}

form textarea:focus:invalid + .error .invalid {
  display: block;
}

.name_txt span {
  font-size: 1.2rem;
  color: red;
}

.name_txt,
.memo_txt {
  margin-top: 10px;
}

.form-btns {
  margin-top: 50px;
}

.login-btn,
.regist_input-btn {
  margin-top: 20px;
}

.error {
  color: red;
}
