/*========================================

 共通設定

========================================*/

.wrapper {
  margin: 10px 20px;
}

h1 {
  margin-bottom: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: underline;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.txt_center {
  text-align: center;
}


/*========================================

 テーブル設定

========================================*/

table {
  border: 1px solid #ccc;
  margin: 10px 0;
}

tr {
  border-bottom: 1px solid #ccc;
}

th, td {
  border: 1px solid #ccc;
  vertical-align: middle;
  padding: 5px 10px;
}

td {
  position: relative;
}

/*========================================

 フォーム設定

========================================*/
form {
  margin-bottom: 8px;
}

form input:focus:invalid {
  border: tomato 2px solid;
}

form textarea:focus:invalid {
  border: tomato 2px solid;
}

form input:invalid + .error .invalid {
  display: block;
}

form input:focus:invalid + .error .invalid {
  display: none;
}

form textarea:focus:invalid + .error .invalid {
  display: block;
}

.form_mail {
  margin-bottom: 10px;
}

.name_txt span {
  font-size: 1.2rem;
  color: red;
}

.name_txt,
.memo_txt {
  margin-top: 10px;
}

.form-btns {
  margin-top: 20px;
}

.login-btn,
.regist_input-btn {
  margin-top: 20px;
}

.error {
  color: red;
}

.gray-back {
  background-color: #ccc;
}

.gray-back:hover {
  background-color: #bbb;
}

.file_select {
  margin-top: 15px;
}

/*========================================

 その他設定

========================================*/
.form-search {
  display: flex;
  align-items: center;
  margin: 15px 0 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
}

.search_wrap {
   margin-bottom: 0;
 }

.search_wrap input {
  background: none;
  border: 2px solid #999;
  border-radius: 5px;
  padding-left: 5px;
}

.btn-search {
  margin-left: 5px;
  padding: 2px 10px;
}

.back-top {
  margin: 5px 0 20px;
}

.page_trans {
  margin: 10px 0;
  font-size: 1rem;
}

.search_annotation {
  font-size: 0.9rem;
  margin-left: 10px;
}

.file_btn {
  color: #007aff;
  background-color: transparent;
  border: none;
  padding: 0 18px;
}

.file_btn:hover {
  color: #007aff;
  text-decoration: underline;
  border-color: #fff;
  background-color: transparent;
}

.file_btn:active {
  color: #007aff;
  outline: none;
  background-color: transparent;
}

.form--fdelete {
  position: absolute;
  top: -5px;
  right: 0;
}

.file_btn--delete {
  color: red;
  font-size: 1.4rem;
  font-weight: bold;
  padding: 0 5px;
  border-radius: 50%;
}
