table {
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

tr {
  border-bottom: 1px solid #ccc;
}

th, td {
  border: 1px solid #ccc;
}

textarea {
  margin-bottom: 10px;
}

span {
  display: block;
}

.no-margin {
  margin: 0;
}
